:root {
    --background-color: #fff;
    --background-color-primary: #fff;
    --background-color-secondary: #EFF2F5;
    --background-ai-button: #eefcffd3;

    --color-white: #000;
    --color-black: #fff;
    --border-color: #D4D4D4;
    --text-secondary: #55626F;
    --color-allwayswhite: #ffffff;
    --text-primary:#272727;

    --chart-light-bg: #fff;
    --chart-dark-bg: #050505;
    --chart-light-border: #D4D4D4;
    --chart-dark-border: #333;
    --chart-login-color:#00cfff;
    --chart-login-color-shadow:rgba(0, 0, 0, 0.4);

    --links-color: #1565C0;

    --logo-url: url('C:/Users/Usuario/Documents/CryptoWeb/Frontend/images/light-logo.gif');
}

#dark-theme {
    --background-color: #050505;
    --background-color-primary: #0E1218;
    --background-color-secondary: #1C2025;
    --background-ai-button: #0d0d0fc5;

    --color-white: #fff;
    --color-black: #000;
    --border-color: #1D1F22;
    --text-secondary: #bebebe;
    --chart-login-color:#ca0cc1;
    --chart-login-color-shadow:rgba(196, 20, 158, 0.4);
    --color-allwayswhite: #ffffff;
    --text-primary:#e9e1e1;

    --links-color: #1565C0;

    --logo-url: url('C:/Users/Usuario/Documents/CryptoWeb/Frontend/images/dark-logo.gif');
}