#openMenu {
    background: var(--background-color-secondary);
    font-size: 20px;
    padding: 8px;
    border-radius: 12px;
    cursor: pointer;
    display: none;
}

.overlay {
    position: fixed;
    background: var(--background-color);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.5s ease;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

.overlay .nav-links {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.overlay .nav-links a {
    font-size: 24px;
    transition: all 0.3s ease;
}

.overlay .nav-links a.active,
.overlay .nav-links a:hover {
    color: var(--links-color);
}

.overlay button#closeMenu {
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.overlay button#closeMenu i {
    font-size: 34px;
    transition: all 0.3s ease;
}

.overlay button#closeMenu:hover i {
    color: var(--links-color);
}