nav .main-bar{
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background-color-primary);
    padding: 14px 20px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

nav .left-section,
nav .right-section {
    display: flex;
    align-items: center;
}

nav .left-section .logo {
    height: 60px;
    width: 100px; 
    background-image: var(--logo-url);
    background-size: contain;
    background-repeat: no-repeat;
}

nav .left-section .nav-links {
    display: flex;
    gap: 10px;
}

nav .left-section .nav-links a {
    font-size: 13px;
    padding: 10px 14px;
    border-radius: 12px;
    color: var(--text-secondary);
    transition: all 0.3s ease;
}

nav .left-section .nav-links a.active,
nav .left-section .nav-links a:hover {
    background: var(--background-color-secondary);
    color: var(--color-white);
}

nav .right-section {
    width: 30%;
    gap: 20px;
}

nav .right-section .search {
    display: flex;
    align-items: center;
    background: var(--background-color-secondary);
    padding: 0 10px;
    border-radius: 12px;
    width: 100%;
}

nav .right-section .search input {
    padding: 10px 6px;
    background: var(--background-color-secondary);
    color: var(--color-white);
    font-size: 14px;
}

nav .right-section .search input::placeholder,
nav .right-section .search i {
    color: var(--text-secondary);
}

nav .right-section > i {
    padding: 8px;
    background: var(--background-color-secondary);
    color: var(--color-white);
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav .right-section > i.ri-sun-line {
    transform: rotate(0deg);
}

nav .right-section > i.ri-moon-line {
    transform: rotate(360deg);
}