.chart-container,
.search-container {
    margin: 40px 40px 0;
    background: var(--background-color-primary);
    border-radius: 12px;
    height: 100vh;
}

.chart-container {
    background: var(--background-color);
    margin-bottom: 20px;
}