@import url('./main-imports.css');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}



div::-webkit-scrollbar {
    height: 8px;
}

div::-webkit-scrollbar-track {
    border-radius: 12px;
}

div::-webkit-scrollbar-thumb {
    background-color: var(--background-color-secondary);
    border-radius: 12px;
    width: 20%;
}

.red {
    color: red !important;
}

.green {
    color: green !important;
}

p.red {
    font-weight: 600 !important;
}

a {
    color: var(--color-white);
    text-decoration: none;
}

i {
    color: var(--color-white);
}

img {
    object-fit: cover;
}

table {
    overflow: scroll;
}

table tr td {
    white-space: nowrap;
}

table tr td:first-child {
    border-radius: 12px 0 0 12px;
}

table tr td:last-child {
    border-radius: 0 12px 12px 0;
}

table tr td.rank {
    padding-left: 10px;
}

table tr td.name-column {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30px;
}

table tr td img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 6px;
    border-radius: 12px;
}

.table-fixed-column {
    background: var(--background-color-primary);
    position: sticky;
    left: 0;
    z-index: 100;
    transition: all 0.3s ease;
}

table thead tr:hover {
    background: transparent !important;
    cursor: unset !important;
}

body {
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: all 0.5s ease;
}

body {
    margin: 0;
    padding: 0;
}

/* Solución clave para GitHub Pages */
html, body {
    height: 100%;
}

.error-message {
    display: none;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}